
*{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-font{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  max-width: 1440px;
  margin: 0 auto;
}
/* nave style */
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1160px;
margin: 20px auto;
}
.nav-div{
  display: flex;
  gap: 11px;
}
nav >ul{
  display: flex;
  gap: 32px;
}
nav >ul >li{
  list-style: none;
}
nav >ul >li >a{
  text-decoration: none;
}
.nav-title{
font-size: 2rem;
font-weight: bold;
color: black;
}
.meno{
  display: none;
}
.Home{
  font-weight: bold;
  font-size: 1.25rem;
  color: orange;
}
.About{
  font-size: 1.25rem;
  font-weight: 500;
  color: skyblue;
}
.Facilities{
  font-size: 1.25rem;
  font-weight: 500;
  color:#05D4DF;
}
.Admission{
  font-size: 1.25rem;
  font-weight: 500;
  color:#5D58EF;
}
.nav-btn{
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  padding: 10px 60px;
  background-color: orange;
  border-radius: 12px;
  border: none;
}
/* banner style */
.banner{
  max-width: 1158px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.banner >img{
  width: 100%;
}
.banner-containt{
  max-width: 640px;
  margin: 122px auto;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
}
#Empowering{
  font-size: 3.5rem;
  font-weight: bold;
  color: orange;
}
#vision{
  font-size: 3.5rem;
  font-weight: bold;
  color: skyblue;
}
.banner-description{
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
}
.banner-btn{
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 47px;
  background-color: black;
  border-radius: 12px;
}
/* curriculum style */
.curriculum{
  text-align: center;
  background-image: url(../assets/bg.png);
 /* background-position: -1px -35px; */
  background-repeat: no-repeat;
}
.section-title{
  font-weight: bold;
  font-size: 2.86rem;
  color: #000000;
  margin-top: 60px;
  text-align: center;
}
.curriculum-containts{
  display: flex;
  max-width: 1160px;
  margin: 80px auto;
  gap: 28px;
}
.kinder >img{
  margin-top: 52px;
}
.elementary >img{
  margin-top: 61px;
}
.middle >img{
  margin-top: 58px;
}
.kinder{
  width: 367px;
  height: 476px;
  border-radius: 18.86px;
  padding: 52px 40px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
  width: 367px;
  height: 476px;
  border-radius: 18.86px;
  padding: 52px 40px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle{
  width: 367px;
  height: 476px;
  border-radius: 18.86px;
  padding: 52px 40px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curruculum-title{
  font-size: 1.57rem;
  font-weight: bold;
  color: #202020;
  margin-top: 32px;
  margin-bottom: 33px;
}
.curriculum-description{
  font-size: 0.9rem;
  font-weight: 500;
  color: #808080;
}
.kinder-sub{
  font-size: 0.9rem;
  font-weight: bold;
  color: #64C8FF;
  margin-bottom: 53px;
}
.elementary-sub{
  font-size: 0.9rem;
  font-weight: bold;
  color: #F0AA00;
}
.middle-sub{
  font-size: 0.9rem;
  font-weight: bold;
  color: #8700FF;
}
.arrow{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
}
.arrow-1, .arrow-2{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: orange;
}
#gre, #less{
  padding: 22px 22px;
  color: white;
}
/* stories style */
.stories{
  padding: 60px 140px;
  background-image: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
  /* background-position: 1px -40px; */
}
.stories-containar{
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 19px;
}
.stories-containt{
  width: 100%;
  border-radius: 16px;
  background-color: white;
  position: relative;
}
/* .stories-image-1{
  position: relative;
} */
.stories-containt-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 61px 99px 51px 38px;
}
.stories-containt-description{
  font-size: 0.9rem;
  font-weight: 500;
  color: #666666;
  margin: 0px 68px 34px 38px;
}
.stories-image-1 >img{
width: 100%;
}
.stories-containt-btn{
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 14px 19px;
  background-color: #3CD8E8;
  border-radius: 47.93px;
  border: none;
  position: absolute;
  top: 320px;
  left: 90px;
}
.stories-containts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
  width: 100%;
}
.stories-containars{
  border-radius: 16px;
  background-color: white;
  width: 100%;
  position: relative;
}
.stories-containars >img{
  width: 100%;
}
.stories-containars-description{
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
  margin: 43px 54px 33px 38px;
}
.btn-1{
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 10px 19px;
  background-color: #95B226;
  border-radius: 47.93px;
  border: none;
  position: absolute;
  margin-left: -230px;
  margin-top: 155px;
}
.btn-2{
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  padding: 10px 19px;
  border-radius: 47.93px;
  border: none;
  position: absolute;
  margin-left: -230px;
  margin-top: 155px;
  background-color: #5D58F0;
}
.view{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 10px 61px;
  border-radius: 12px;
  background-color: black;
  margin-bottom: 60px;
}
.stories-view{
  text-align: center;
}
/* footer style */
footer{
  background-color: #01ACFD;
  display: flex;
  margin-top: 0;
}
.footer-containar{
  display: flex;
  margin: 140px auto;
  width: 1070px;
}
.footer-kids{
  display: flex;
  align-items: center;
  width: 296px;
  gap: 1.5px;
  margin-bottom: 35px;
}
.footer-kids >img{
  width: 83px;
  height: 82px;
}
.Education-title{
  font-size: 2.6rem;
  font-weight: bold;
  color: white;
  width: 203px;
  height: 80px;
  margin-top: 0;
}
.Education-description{
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-right: 172px;
  margin-top: 0px;
  width: 400px;
}
.school-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: 143px;
  margin-top: 0;
}
.school-sub-title{
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}
.touch-title{
  font-weight: bold;
  font-size: 1.6rem;
  color: white;
}
.touch-logos{
  display: flex;
  gap: 10px;
  margin-top: 32px;
}
#style{
  font-size: 4rem;
  color: red;
  font-weight: bold;
}

















@media screen and (max-width:576px) {
  nav >ul, .nav-btn, .nav-title, .stories-containt, .arrow{
    display: none;
  }
  .meno{
    display: block;
    font-size: 2rem;
  }
  .navbar{
    justify-content: space-between;
    border-bottom: 1px solid orange;
    width: 100%;
    margin: 0;
  }
  .nav-div >img{
    margin-bottom: 20px;
  }
  .curriculum-containts{
    flex-direction: column;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-containt{
    text-align: center;
    margin: 0;
  }
  .kinder, .elementary, .middle{
    width: 80%;
    margin: 0;
  }
  .stories-containars{
    width: 100%;
  }
.footer-containar{
  width: 50%;
}
  .footer-containar, footer{
    flex-direction: column;
  }
  .footer-containar{
    margin: 30px;
  }
  .stories{
    padding: 0;
  }
  body{
    padding-left: 10px;
  }
.stories-containars{
  position: relative;
}
.btn-1, .btn-2{
  position: absolute;
  top: -20%;
  left: 130%;
}





}