
*{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  max-width: 1440px;
  margin: 0 auto;
}
/* nave style */
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1160px;
margin: 20px auto;
}
.nav-div{
  display: flex;
  gap: 11px;
}
nav >ul{
  display: flex;
  gap: 32px;
}
nav >ul >li{
  list-style: none;
}
nav >ul >li >a{
  text-decoration: none;
}
.nav-title{
font-size: 2rem;
font-weight: bold;
color: black;
}
.meno{
  display: none;
}
.Home{
  font-weight: bold;
  font-size: 1.25rem;
  color: orange;
}
.About{
  font-size: 1.25rem;
  font-weight: 500;
  color: skyblue;
}
.Facilities{
  font-size: 1.25rem;
  font-weight: 500;
  color:#05D4DF;
}
.Admission{
  font-size: 1.25rem;
  font-weight: 500;
  color:#5D58EF;
}
.nav-btn{
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  padding: 10px 60px;
  background-color: orange;
  border-radius: 12px;
  border: none;
}






@media screen and (max-width:576px) {
  nav >ul, .nav-btn, .nav-title{
    display: none;
  }
  .meno{
    display: block;
    font-size: 2rem;
  }
  .navbar{
    justify-content: space-between;
    border-bottom: 1px solid orange;
    width: 100%;
  }
  .nav-div >img{
    margin-bottom: 20px;
  }
  
}